{% extends 'apptienda/base.html' %}

{% load static %}

{% block titulo %} TU PERFIL {% endblock %}
{% block subtitulo %} Edita los datos de tu perfil {% endblock %}

{% if errors %}
    <p style="color: red">ERROR{{errors}}</p>
{% endif %}

<div class="container">

    <div class="opcionesPerfil">
        <a href="{% url 'auth-perfil'%}" class='aPerfil'>Perfil</a>
        <a href="{% url 'auth-editar-perfil'%}" class='aPerfil'>Editar Perfil</a>
        <a href="{% url 'auth-avatar'%}" class='aPerfil selected'>Editar Avatar e informacion</a>
        
    </div>
{% if errors %}
    <p>Errores encontrados</p>
    <p style="color:red">{{errors}}</p>
{% endif %}

{% block Contenido %}

<form method="post">
    {% csrf_token %}
    {{formulario.as_p}}
    <input type="submit" value="Guardar Cambios">    
</form>

{% endblock %}