{% extends 'apptienda/base.html' %}

{% load static %} 

{% block titulo %} Bienvenido {{request.user.username}}! {% endblock %}
{% block subtitulo %} Tu Perfil {% endblock %} 

{% block Contenido %}

<div class="table-responsive mt-4">
  <table class="table caption-top">

    <img src="{{imagen_url}}" style="max-width: 160px" />

<h2>
    <p>{{ user.first_name }}</p>
    <p>{{ user.last_name }}</p>
    <p>{{ user.email }}</p>
</h2>



<a class="nav-link text-uppercase" href="{% url 'vet-perfil' %}">EDITAR PERFIL</a>

{% endblock %}
