{% extends 'apptienda/base.html' %}

{% load static %} 

{% block titulo %} Bienvenido {{request.user.username}}! {% endblock %}
{% block subtitulo %} Tu Perfil {% endblock %} 





{% block Contenido %}

<div class="table-responsive mt-4">
  <table class="table caption-top">

<h2>
    {{ user.first_name }}
    {{ user.last_name }}
    {{ user.email }} 
</h2>

<img src="{{imagen_url}}" style="max-width: 60px" />

<li class="nav-item px-lg-4">
    <a class="nav-link text-uppercase" href="{% url 'vet-perfil' %}">
      EDITAR PERFIL
    </a>
  </li>

{% endblock %}
