{% extends 'apptienda/base.html' %} {% load static %} {% block titulo %} Carga
tus mascotas! {% endblock %} {% block Contenido %}

<p>
  En esta seccion te invitamos a cargar los datos de tu mascota para que
  compartas con tus amigos y tengamos siempre el mejor tratamiento disponible y
  los productos especificos para su raza/especie
</p>

<th>
  <a href="{% url 'mascota-create' %}" class="btn btn-danger">
    Crear Mascota
  </a>
</th>

{% if mascotas %}
<div class="table-responsive mt-4">
  <table class="table caption-top">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Raza</th>
        <th>Descripcion</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in mascotas %}
      <tr>
        <th>
          {{ item.nombre }}
        </th>
        <th>
          {{ item.tipo }}
        </th>
        <th>
          {{ item.raza }}
        </th>
        <th>
          {{ item.descripcion }}
        </th>
        <th>
        <img src={{item.imagen.url}} style="max-width: 160px" />
      </th>
        <th>
          <a href="{% url 'mascota-borrar' item.id %}" class="btn btn-danger">
            Eliminar
          </a>
        </th>
        <th>
          <a href="{% url 'mascota-actualizar' item.id %}" class="btn btn-primary">
            Editar
          </a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p class="mt-4">Ups! de momento no hay mascotas cargadas</p>
<p>Se el primero en compartir con tus amigos!</p>

{% endif %} {% endblock %}
