{% extends 'apptienda/base.html' %} {% load static %} {% block titulo %} Acerca
de nosotros: {% endblock %} {% block Contenido%}

<p>
  Claudio Esteban: Técnico en Electrónica, en Telecomunicaciones y Redes
  Informáticas, 14 años de experiencia en la empresa de desarrollo espacial VENG
  SA en la estación terrena teófilo tabanera de CONAE(Comisión Nacional de
  Actividad Espacial) como operador de sistemas de ingestión satelital, eterno
  estudiante y aficionado a la música, el deporte y la tecnología en general.
  Originario de la ciudad de Puerto Madryn y residente de la ciudad de Córdoba
  estos últimos años.
</p>
<p>
  Matias Carignano: Tengo 25 años, soy de CABA, Bs.As. y es la primer
  experiencia que tengo en el mundo de la programación.
</p>
<p>
  Tomas Pandullo: Tengo 25 años, soy Frontend Developer, con 2 años de
  experiencia en el rubro. Soy de Caba, Buenos Aires. Estoy cursando el 3er año
  de la carrera de Analista de Sistemas, soy tutor en Coderhouse en Vuejs y
  actualmente estoy haciendo este curso de Python para seguir adquiriendo mas
  conociemientos.
</p>

{% endblock %}
