{% extends 'apptienda/base.html' %}

{% load static %}

{% block titulo %} ABOUT {% endblock %}
{% block subtitulo %} Acerca de nosotros: {% endblock %}

{% block Contenido%}

<p>Claudio Esteban: Técnico en Electrónica, en Telecomunicaciones y Redes Informáticas, 14 años de experiencia en la empresa de desarrollo espacial VENG SA en la
    estación terrena teófilo tabanera de CONAE(Comisión Nacional de Actividad Espacial) como operador de sistemas de ingestión satelital, eterno estudiante y aficionado a la música, el deporte y la tecnología en general.
    Originario de la ciudad de Puerto Madryn y residente de la ciudad de Córdoba estos últimos años.
    
</p>
<p>Nombre 2:</p>
<p>Nombre 3:</p>

{% endblock %}